<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">

  <head>

    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head-includes.html" . }}
  </head>

  <body lang="{{ .Site.LanguageCode }}" class="w-2/5 mx-auto py-10">
    <section id="main">
      <div>
        <h1 id="title" class="font-bold mb-5">
          404 error
        </h1>
		<a class="link" href="/">back</a>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
