<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head-includes.html" . }}
  </head>

  <body lang="{{ .Site.LanguageCode }}" class="w-2/5 mx-auto py-10">
    <section id="main">
      <div>
	      <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/image.png" style="width: 37%; height: 37%;">
        <br>
        <h1 id="title" class="font-bold mb-5">
		<a class="link-title" href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
		</a>
        </h1>
		<hr style="width: 74%;">
		<br>
        <ul class="">
          <!-- pages -->
          
          <!-- prettier-ignore -->
          <li class="my-2">
			  <a class="link" href="/about/">about</a><br>
			  <a class="link" href="/writings/">writings</a><br>
			<br>
			<a class="link" href="/mandatory-reading/">mandatory reading</a><br>
			<a class="link" href="https://www.are.na/astrascalla/">graphic</a><br>
			<br><br>
			<a class="link" href="https://scal.la/tr">twitter</a>
          </li>
          <!-- prettier-ignore -->
        </ul>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
