<!DOCTYPE html>
<html class="" lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8" />
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head-includes.html" . }}
  </head>

  <body lang="{{ .Site.LanguageCode }}" class="w-2/5 mx-auto py-10">
    <section id="main">
      <div>
	      <img src="{{ .Site.BaseURL }}/image.png" style="width: 37%; height: 37%;">
        <br>
        <h1 id="title" class="font-bold mb-5">
		<a href="{{ .Site.BaseURL }}">
          {{ .Site.Title }}
		</a>
        </h1>
        <ul class="">
          <!-- pages -->
          
          <!-- prettier-ignore -->
          {{ range .Site.Params.menu }}
          <li class="my-2">
            <a class="link" href="{{ .url }}">{{ .name }}</a>
          </li>
          <!-- prettier-ignore -->
          {{ end }}
          <br>
          <a class="link" href="https://twitter.com/astrascalla">twitter</a>
        </ul>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
