<link rel="stylesheet" href="{{ .Site.BaseURL }}/styles.css" />
<meta property="og:title" content="Astrascalla - Radical Innovation">
<meta property="og:description" content="Helping prepare civilization for the 22nd century by investing in paradigm shifts.">
<meta property="og:image" content="https://astrascalla.com/social_image.png">
<meta property="og:url" content="https://astrascalla.com">

<meta name="twitter:title" content="Astrascalla - Radical Innovation">
<meta name="twitter:description" content="Helping prepare civilization for the 22nd century by investing in paradigm shifts.">
<meta name="twitter:image" content=" https://astrascalla.com/social_image.png">
<meta name="twitter:card" content="summary_large_image">
