<link rel="stylesheet" href="{{ .Site.BaseURL }}/styles.css" />
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="https://astrascalla.com/social_image.png">
<meta property="og:url" content="https://astrascalla.com">

<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:image" content="https://astrascalla.com/social_image.png">
<meta name="twitter:card" content="summary_large_image">
