<link rel="stylesheet" href="{{ .Site.BaseURL }}/styles.css" />
<meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content="https://astrascalla.com/social_image.png">
<meta property="og:url" content="https://astrascalla.com">

<meta name="twitter:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}">
<meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content=" https://astrascalla.com/social_image.png">
<meta name="twitter:card" content="summary_large_image">
